@model IndexViewModel
@using SimpleAdsAuth.Data
<div class="row">
    <div class="col-md-6 offset-md-3">
        @foreach (AdViewModel advm in Model.ads)
        {
            <div class="jumbotron">
                <h5>Listed by @advm.ad.UserName</h5>
                <h5>Listed on @advm.ad.Date.ToShortDateString() </h5>
                <h5>Phone Number: @advm.ad.PhoneNumber</h5>
                <h3>Details:</h3>
                <p>@advm.ad.Description </p>
                @if (advm.canDelete)
                {
                        <form method="post" action="/home/deleteAd">
                            <input type="hidden"name="id" value="@advm.ad.Id" />
                            <button class="btn btn-danger">Delete</button>
                        </form>
                }
            </div>
        }

    </div>
</div>
